on:
    pull_request:
    workflow_dispatch:
    push:
      branches:
        - main
        - master
      tags:
        - v?[0-9]+.[0-9]+.[0-9]+*

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    DeterminateCI:
      uses: aloshy-ai/ci/.github/workflows/workflow.yml@main
      with:
        visibility: public
      secrets:
        cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
